<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="js/vue.js"></script>
</head>

<body>
    <div id="count">
        数值A: <input type="text" v-model="a"> <br> 数值B: <input type="text" v-model="b"> <br>
        <button @click="add">计算</button> <br> 计算结果: <span v-text="sum"></span></div>
    <script>
        var count = new Vue({
            el: '#count',
            data: {
                a: '',
                b: '',
                sum: ''
            },
            methods: {
                add: function() {
                    this.sum = this.a * 1 + this.b * 1
                }
            }
        })
    </script>
</body>

</html>