<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <style>
        .current {
            color: orangered;
        }
    </style>
</head>

<body>
    <div id="app">
        <f-l :list="list">
            <template slot-scope="slotProps">
                <strong v-if='slotProps.info.id==3' class="current">
                    {{slotProps.info.name}}		         
                </strong>
               <span v-else>{{slotProps.info.name}}</span>
                </template>
        </f-l>
    </div>


    <script>
        const fl = {
            props: ['list'],
            template: `
            <div>
            <ul>
                <li v-for="item in list">
                <slot :info="item">{{item.name}}</slot>
                </li>
            </ul>
        </div>
            
            `
        }
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    id: 1,
                    name: 'apple'
                }, {
                    id: 2,
                    name: 'orange'
                }, {
                    id: 3,
                    name: 'banana'
                }]
            },
            components: {
                'f-l': fl
            }
        });
    </script>
</body>

</html>