<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span> 
                <input type="text" v-model="m">
            </span>
        </div>
        <div>
            <span>姓：</span>
            <span> 
                <input type="text" v-model="x">
            </span>
        </div>
        <div>{{qm}}</div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                m: 'cy',
                x: 'h',
                qm: 'hcy'
            },
            watch: {
                m: function(val) {
                    // console.log(val);
                    this.qm = val + this.x
                },
                x: function(val) {
                    this.qm = this.m + val
                }

            }

        })
    </script>
</body>

</html>